html, body {
    height: 100%; /* Biztosítja, hogy az egész oldalt lefedje */
    margin: 0;
    padding: 0;
    background: url("../MEDIA/horgol-hatter.jpg") no-repeat center center fixed; 
    background-size: cover; 
}

.egyoldalra {
    margin-top: 90px; /* kis tér a navbar alatt */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.folsofelirat {
    color: white; 
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.termekek {
    width: 80%;             /* a konténer csak a szélesség 80%-át foglalja el */
    margin: 0 auto;         /* középre igazítás */
    display: flex;
    justify-content: space-between;  /* egyenlő távolság a kártyák között */
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    margin-bottom: 30px;    /* Alsó margó a kártyák között */
}

.card-text {
    font-size: 0.7rem;
}

.invisible {
    visibility: hidden;
}



/* Media query a kisebb képernyőkhöz */
@media screen and (max-width: 768px) {
    .termekek {
        padding: 10px;
        gap: 15px;
    }

    .card {
        width: 100% !important;  /* Felülírja az inline stílust */
        margin: 0 auto 15px auto;
    }
}



.card-title{
    text-align: center;
}


