html, body {
    height: 100%; /* Biztosítja, hogy az egész oldalt lefedje */
    margin: 0;
    padding: 0;
    background: url("../MEDIA/after-the-rain-8686213_1280.jpg") no-repeat center center fixed;
    background-size: cover; 
}



.feherszoveg {
    color: white; 
}
